<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
          Available series
          <% if @series.any? %>
              <%= form_tag("/admin_config/update", class: "inline-form right") do %>
                  <%= submit_tag "Update all", :class => "btn btn-primary btn-sm" %>
              <% end %>
          <% end %>
          <div class='clearfix'></div>
        </h3>

    </div>
    <div class="panel-body">
        <table class='table table-striped'>
            <tbody>
                <% if @series.empty? %>
                    <tr><td>No series are present in the database</td></tr>
                <% end %>
                <% @series.each do |series| %>
                    <tr>
                        <td><%= truncate(series.name, length: 40) %></td>
                        <td>
                            <% if series.episodes.empty? %>
                                <%= form_tag("/episodes/create", class: "inline-form right") do %>
                                    <%= hidden_field_tag :remote_id, series.remote_id %>
                                    <%= submit_tag "Get episodes", :class => "btn btn-primary" %>
                                <% end %>
                            <% end %>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
