<div class='page-header'>
  <h3>This is the episode list for <%= @series.name %></h3>
</div>
<h5><%= @series.overview %></h5>
</br>
<% @episodes_grouped_by_season.each do |season, episodes| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Season <%= season %></h3>
      </div>
      <div class="panel-body">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Name</th>
          </tr>
          </thead>
          <tbody>
          <% episodes.each do |episode| %>
              <tr>
                <td><%= episode.name %></td>
                <td>
                  <%= form_tag({ controller: "user_episodes", action: "create" }, method: "post", remote: true) do %>
                    <%= check_box_tag(:episode, episode.id, false, { :class => "submittable"} ) %>
                    <%= hidden_field_tag(:episode_id, episode.id) %>
                  <% end %>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
<% end %>
