<h4>
  Your search returned <%= pluralize(@series.length, 'result') %>:
</h4>

<table class="table table-striped">
    <% @series.each do |series| %>
        <tr>
            <td>
                <%= series.name%>
            </td>
            <td>
                <%= form_tag("/episodes/create", :class => "inline-form right") do %>
                <%= hidden_field_tag :remote_id, series.remote_id %>
                <%= submit_tag "Get episodes", class: "btn btn-primary" %>
                <%end%>
            </td>
            </td>
        </tr>
    <% end %>
</table>
