<h4>
  Your search returned <%= pluralize(@series.length, 'result') %>:
</h4>

<ul class="list-group">
    <% @series.each do |series| %>
        <li class="list-group-item"><%= series.name%>
          <%= form_tag("/episodes/create", :class => "inline-form right") do %>
              <%= hidden_field_tag :remote_id, series.remote_id %>
              <%= submit_tag "Get episodes", :class => "submit-link" %>
          <%end%>
        </li>
    <% end %>
  </ul>
