<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
      <title>EpisodeTracker</title>
      <%= stylesheet_link_tag    "application", :media => "all" %>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>
    </head>
    <body>
          <%= render 'layouts/header' %>

          <div class="container">
          <%= render 'layouts/flash_messages' %>

          <%= yield %>

          </br>
          <hr></hr>
        </div>
    </body>
</html>
